<!DOCTYPE html>
<html lang="en">

<head>
  <meta content="en" http-equiv="Content-Language">
  <link href="/images/favicon.ico" rel="shortcut icon" type="image/ico">
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{agentName}}</title>
  <link rel="stylesheet" href="/css/bootstrap-4.4.1.min.css" />
  <link rel="stylesheet" href="/css/font-awesome-4.7.0.min.css">

  <link rel='stylesheet' href='/css/SD.css' />
</head>

<body>
  {{> nav}}

<div class="content">
  <div class="container">
  {{{body}}}
  </div>
</div>
<script src="/js/jquery-3.3.1.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        src="/js/popper-2.11.6.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
        src="/js/bootstrap-5.3.5.min.js"></script>

   <footer class="footer">
    <div class="container">
      <div class="row text-center">
        <div class="col-sm-6 offset-sm-3 col-md-3 offset-md-0">
          <small>&copy 2025 <a href="https://www.secure-dimensions.de" target="_SD">Secure Dimensions GmbH</a></small>
        </div>
        <div class="col-sm-4 col-md-2">
          <a href="/terms" target="_S">Terms Of Use</a>
        </div>
        <div class="col-sm-4 col-md-2">
          <a href="/privacy" target="_S">Privacy Statement</a>
        </div>
        <div class="col-sm-4 col-md-2">
          <a href="/cookie" target="_S">Cookie Statement</a>
        </div>
        <div class="col-sm-6 offset-sm-3 col-md-3 offset-md-0">
          <small>Last updated 28.07.2025</small>
        </div>
      </div>
      <hr />
      <table border="0" width="100%">
              <tr>
                      <td width="80%">
                              <small>This project has received funding from the European Union&apos;s Horizon Europe
                                      research and innovation program through participation in the CitiObs project.</small>
                      </td>
                      <td width="20%"><img src="images/EUFlag.jpg" alt="" height="40" border="0"></td>
              </tr>
      </table>
    </div>
  </footer>
</body>

</html>
