<div class="jumbotron">
    <h2>{{agentName}} Web Application</h2>
    <p class="lead">This Web Application supports the management of Webhooks for receiving notifications from a STA-WebSub Hub.</p>
    <p>STA-WebSub is a draft OGC STandard (OGC #24-032)</p>
</div>