<div class="jumbotron">
        <h2>Cookie Statement</h2>
        <p>This service establishes a session cookie once you are logged in.</p>
        <p>The cookie&apos; name is <b>{{cookie}}</b>.</p>
        <p>The cookie is valid for 60 minutes.</p>
</div>