<div class="jumbotron">
    <h2>Welcome to the {{agentName}} Web Application</h2>
    <p class="lead">STA-WebSub Webhook Management.</p>
    <p>The STA-WebSub Webhook Management Web App suports your creation, configuration of compliant Webhooks to receive and process notifications from a STA-WebSub Hub.</p>
</div>