* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    word-break: break-word;
    hyphens: auto;
}

.header {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: white;
    font-weight: 600;
}

.header img {
    height: 50px;
}

.content {
    background-color: #eee;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
}

.content .titlerow {
    padding-bottom: 2rem;
}

.content .attributes {
    font-weight: 300;
    font-size: small;
}

.content .application-logo {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.content .application-name {
    font-weight: 600;
    font-size: large;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.consent {
    position: absolute;
}

.deny {
    position: absolute;
}

form #approval-buttons {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

form #approval-buttons input {
    display: inline-block;
    margin-right: 2rem;
    width: 90px;
    height: 60px;
}

.footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #f5f5f5;
    font-weight: 300;
    font-size: small;
}


table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}

table th,
table td {
    padding: .625em;
    text-align: left;
    word-wrap: break-word;
    -webkit-hyphens: manual;
    -ms-hyphens: manual;
    hyphens: manual;
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    table {
        border: 0;
    }

    table caption {
        font-size: 1.3em;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
    / / margin: - 1 px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }

    .btn {
        white-space: normal;
        padding: 20px;
    }

}

a:hover {
    background-color: #aaa;
    color: white;
}

a:active {
    background-color: #000;
    color: white;
}

.form-group.required .control-label:after {
    content: "*";
    color: red;
}


.content {
  padding: 1rem;
}

.card {
  
  .delete-btn {
    cursor:pointer;
    font-weight: bolder;
    font-size: 1.2em;
    position:absolute;
    right: 7px;
    top: 2px;
  }
}